{% extends 'base.html' %}

{% block 'content' %}

<div class="container">
    <div class="row student-row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-primary table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Place</th>
                            <th scope="col">Blood Group</th>
                            <th scope="col">Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td><img height="60px" width="60x"
                                    src="http://static.everypixel.com/ep-pixabay/0329/8099/0858/84037/3298099085884037069-head.png"
                                    alt=""></td>
                            <td scope="row">Abbasali.F</td>
                            <td>9747237363</td>
                            <td>Palakkad</td>
                            <td>A+</td>
                            <td>Technical</td>
                        </tr>
                        <tr class="">
                            <td><img height="60px" width="60x"
                                    src="http://static.everypixel.com/ep-pixabay/0329/8099/0858/84037/3298099085884037069-head.png"
                                    alt=""></td>
                            <td scope="row">Akshay das</td>
                            <td>8089521426</td>
                            <td>Wayanad</td>
                            <td>O+</td>
                            <td>Sales</td>
                        </tr>
                        <tr class="">
                            <td><img height="60px" width="60x"
                                    src="http://static.everypixel.com/ep-pixabay/0329/8099/0858/84037/3298099085884037069-head.png"
                                    alt=""></td>
                            <td scope="row">Sarath</td>
                            <td>745639857</td>
                            <td>Calicut</td>
                            <td>A-</td>
                            <td>Technical</td>
                        </tr>
                        <tr class="">
                            <td><img height="60px" width="60x"
                                    src="http://static.everypixel.com/ep-pixabay/0329/8099/0858/84037/3298099085884037069-head.png"
                                    alt=""></td>
                            <td scope="row">Rizin</td>
                            <td>36859652</td>
                            <td>Kannur</td>
                            <td>B+</td>
                            <td>Sales</td>
                        </tr>
                        <tr class="">
                            <td><img height="60px" width="60x"
                                    src="http://static.everypixel.com/ep-pixabay/0329/8099/0858/84037/3298099085884037069-head.png"
                                    alt=""></td>
                            <td scope="row">Ajmal</td>
                            <td>36585269</td>
                            <td>Malappuram</td>
                            <td>AB+</td>
                            <td>Support</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>
</div>
</div>



{% endblock 'content' %}