{% extends 'base.html' %}


{% block 'content'%}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card col-5 p-5">
            <h2 class="text-center">Create User</h2>
            {% if messages %}
            
            {% for message in messages %}
                
           
                
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {%endif%}
            
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="" class="form-label">Full Name : </label>
                    <input type="text" name="fullname" id="" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Username : </label>
                    <input type="text" name="username" id="" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Create Password : </label>
                    <input type="password" name="password" id="" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Confirm Password : </label>
                    <input type="password" name="comf-password" id="" class="form-control" >
                </div>
                <div class="d-grid ">
                    <button class="btn btn-success btn-lg" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock 'content'%}